
server.vcxproj
server.vcxproj.filters
server.vcxproj.user
x64/Debug/main.obj
x64/Debug/mainwindow.obj
x64/Debug/moc/moc_mainwindow.cpp
x64/Debug/moc_mainwindow.asm
x64/Debug/moc_mainwindow.obj
x64/Debug/qmake/qtvars_x64_Debug.props
x64/Debug/qmake/temp/.qmake.stash
x64/Debug/qmake/temp/moc_predefs.h.cbt
x64/Debug/qmake/temp/props.txt
x64/Debug/qmake/temp/qtvars.log
x64/Debug/qmake/temp/qtvars.pro
x64/Debug/qmake/temp/qtvars.vcxproj
x64/Debug/qmake/temp/qtvars.vcxproj.filters
x64/Debug/qmake/temp/qtvars_x64_Debug.props
x64/Debug/qrc_mainwindow.asm
x64/Debug/qrc_mainwindow.obj
x64/Debug/qt.natvis
x64/Debug/qt_work.log
x64/Debug/qtvars_ldsrzkrx.4n2.designtime.props
x64/Debug/qtvars_x64_Debug.designtime.idx
x64/Debug/qtvars_x64_Debug.props
x64/Debug/rcc/qrc_mainwindow.cpp
x64/Debug/server.Build.CppClean.log
x64/Debug/server.log
x64/Debug/server.tlog/CL.command.1.tlog
x64/Debug/server.tlog/CL.read.1.tlog
x64/Debug/server.tlog/CL.write.1.tlog
x64/Debug/server.tlog/link.10292.delete.1.tlog
x64/Debug/server.tlog/link.13296.delete.1.tlog
x64/Debug/server.tlog/link.30084.delete.1.tlog
x64/Debug/server.tlog/link.command.1.tlog
x64/Debug/server.tlog/link.delete.1.tlog
x64/Debug/server.tlog/link.read.1.tlog
x64/Debug/server.tlog/link.write.1.tlog
x64/Debug/server.tlog/moc.read.1u.tlog
x64/Debug/server.tlog/moc.write.1u.tlog
x64/Debug/server.tlog/rcc.read.1u.tlog
x64/Debug/server.tlog/rcc.write.1u.tlog
x64/Debug/server.tlog/server.lastbuildstate
x64/Debug/server.tlog/server.write.1u.tlog
x64/Debug/server.tlog/uic.read.1u.tlog
x64/Debug/server.tlog/uic.write.1u.tlog
x64/Debug/uic/ui_mainwindow.h
x64/Debug/vc141.pdb
x64/Release/qtvars_fnrpyx21.mjq.designtime.props
x64/Release/qtvars_x64_Release.designtime.idx
x64/Release/qtvars_x64_Release.props
